<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdminApp</title>
    <base href="~/" />
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>

        <partial name="_CookieConsentPartial" optional />
        <main role="main">
            @RenderBody()
        </main>
</body>
</html>
