@page "/"

<PageTitle>AdminApp</PageTitle>

<AuthorizeView>
    <Authorized>
        <AdminLayout>
            @if (users == null)
            {
                <LoadingSpinner Message="Loading users, please wait..." />
            }
            else if (users.Count == 0)
            {
                <NoUsersFound />
            }
            else
            {
                <div>
                    <UserActions 
                        OnBlock="@BlockSelectedUsers" 
                        OnUnblock="@UnblockSelectedUsers" 
                        OnDelete="@DeleteSelectedUsers" 
                        LogoutAction="@Logout" 
                        @bind-FilterQuery="_filterQuery" />
                    <UserTable 
                        Users="_filteredUsers" 
                        IsSelected="_isSelected" 
                        LastSeen="_lastSeen" 
                        OnSelectAll="SelectAllUsers" 
                        OnSelectUser="SelectUser" />
                </div>
            }
        </AdminLayout>
    </Authorized>

    <NotAuthorized>
        <section class="container py-5 min-vh-100 text-center">
            <div class="alert alert-danger">
                <h4 class="alert-heading">Access Denied</h4>
                <p>You must be logged in to view this page.</p>
                <a href="/login" class="btn btn-primary">Login</a>
            </div>
        </section>
    </NotAuthorized>
</AuthorizeView>
