@using Microsoft.AspNetCore.Components
@inject IJSRuntime JSRuntime

@if(IsShow)
{
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1050;">
        <div class="toast show align-items-center text-bg-@(IsSuccess ? "success" : "danger") border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    @(IsSuccess ? "The operation was successful" : "The operation failed")
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close" @onclick="Clear"></button>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool IsShow {get; set;}

    [Parameter]
    public bool IsSuccess {get; set;} = true;

    private void Clear() {
        IsShow = false;
    }
}